<h1>Teams</h1><br>
  <% @teams.each do |team| %>
    <% if team.id != 4 %>
      <div class="team_card">
        <p style="font-size: 1.3em"><%= team.name %></p>
        <img src=<%= team.image_url %><br> 
      </div>
    <% end %>
  <% end %>