<h1>Teams</h1><br>
  <% @teams.each do |team| %>
    <% if team.id != 4 %>
      <div class="team_card">
        <h4><%= team.name %></h4>
        <%= link_to image_tag(team.image_url), team_path(team.id) %><br> 
      </div>
    <% end %>
  <% end %>