<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="banner">
  <div class="brand">Freestyle</div>
  <img class="landing" src="https://cdn.swimswam.com/wp-content/uploads/2014/09/Waikiki-Roughwater-Swim-by-Mike-Lewis-8.jpg">
</div>
