<h2><%= link_to "Add New Event", new_event_path %></h2>
<% @events.each do |event| %>
  <p><%= event.name %><p>
  <%= link_to "Edit", edit_event_path(event.id) %>
  <%= form_tag event_path(event.id), method: 'delete' do %>
    <input class="button delete" type="submit" id="submit" value="Delete"><br>
  <% end %>
<% end %>
