/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 img {
   width: 100%;
 }

 .banner {
   width: 80%;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, 0.9);
   text-align: center;
 }

 .brand {
   display: inline-block;
   font-family: 'Ultra', serif;
   font-size: 4em;
   margin-top: 30px;
   margin-bottom: 30px;
 }

 .content {
   width: 76%;
   height: 3000px;
   margin: 0 auto;
   padding: 2% 2% 2% 2%;
   background-color: rgba(255, 255, 255, 0.6); 
 }

 .landing {
   width: 100%;
 }

 .form_heading {
   font-size: 1.5em;
 }

 .event_card {
   width: 200px;
   padding: 10px;
   display: inline-block;
   background-color: white;
   margin-bottom: 25px;
   margin-right: 25px;
   box-shadow: 5px 5px 10px 2px darkslategray;

 }

 .team_card {
  width: 400px;
  height: 320px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 5px 5px 10px 2px darkslategray;
}

.team_card_full {
  width: 600px;
  height: 390px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 5px 5px 10px 2px darkslategray;
}

.edit_button {
  background-color: rgba(92, 230, 92, 0.8);
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
 .delete_button {
   background-color: rgba(236, 133, 133, 0.8);
   border: none;
 }

 .normal_button {
  background-color: rgba(23, 81, 241, 0.8);
  border: none;
  color: white;
  margin-top: 10px;
}
